In [8]:
import pandas as pd

In [9]:
train = pd.read_csv('./covid.train_new.csv')
test = pd.read_csv('./covid.test_un.csv')

In [10]:
train

,id,AL,AK,AZ,AR,CA,CO,CT,FL,GA,...,work_outside_home.4,shop.4,restaurant.4,spent_time.4,large_event.4,public_transit.4,anxious.4,depressed.4,worried_finances.4,tested_positive.4
0,0,0,0,0,0,0,0,0,1,0,...,31.113209,67.394551,36.674291,40.743132,17.842221,4.093712,10.440071,8.627117,37.329512,7.456154
1,1,0,0,0,0,0,1,0,0,0,...,33.920257,64.398380,34.612238,44.035688,17.808103,4.924935,10.172662,9.954333,32.508881,8.010957
2,2,0,0,0,0,0,0,0,0,0,...,31.604604,62.101064,26.521875,36.746453,13.903667,7.313833,10.388712,7.956139,36.745588,2.906977
3,3,0,0,0,0,0,0,0,0,0,...,35.115738,67.935520,38.022492,48.434809,27.134876,3.101904,10.498683,8.231522,38.680162,12.575816
4,4,0,0,0,0,0,0,0,0,0,...,35.129714,69.934592,38.242368,49.095933,22.683709,4.594620,9.878927,9.469290,28.344123,21.428589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2694,2695,0,0,0,0,0,0,0,0,0,...,39.209278,65.815096,37.046827,46.777637,21.952499,2.724187,14.658436,11.099308,33.154910,13.437482
2695,2696,0,0,0,0,0,0,0,0,0,...,28.984491,66.126427,31.299807,40.399527,16.783327,14.058799,13.129031,10.492896,36.670282,5.040143
2696,2697,0,0,0,1,0,0,0,0,0,...,34.346100,63.456270,30.829009,41.828908,20.597714,2.391852,16.940896,12.888275,42.452451,13.618256
2697,2698,0,0,0,0,0,0,0,0,0,...,30.451071,67.477177,33.975333,45.837535,18.437260,3.088666,12.621144,10.096939,29.668802,9.512585
2698,2699,0,0,0,0,0,0,0,0,0,...,33.803854,66.374538,38.493176,41.290529,19.225268,5.326241,13.157865,9.618114,37.744195,11.069423

In [11]:
for i in range(len(train.columns)):
    print(i, train.columns[i])

0 id
1 AL
2 AK
3 AZ
4 AR
5 CA
6 CO
7 CT
8 FL
9 GA
10 ID
11 IL
12 IN
13 IA
14 KS
15 KY
16 LA
17 MD
18 MA
19 MI
20 MN
21 MS
22 MO
23 NE
24 NV
25 NJ
26 NM
27 NY
28 NC
29 OH
30 OK
31 OR
32 RI
33 SC
34 TX
35 UT
36 VA
37 WA
38 cli
39 ili
40 hh_cmnty_cli
41 nohh_cmnty_cli
42 wearing_mask
43 travel_outside_state
44 work_outside_home
45 shop
46 restaurant
47 spent_time
48 large_event
49 public_transit
50 anxious
51 depressed
52 worried_finances
53 tested_positive
54 cli.1
55 ili.1
56 hh_cmnty_cli.1
57 nohh_cmnty_cli.1
58 wearing_mask.1
59 travel_outside_state.1
60 work_outside_home.1
61 shop.1
62 restaurant.1
63 spent_time.1
64 large_event.1
65 public_transit.1
66 anxious.1
67 depressed.1
68 worried_finances.1
69 tested_positive.1
70 cli.2
71 ili.2
72 hh_cmnty_cli.2
73 nohh_cmnty_cli.2
74 wearing_mask.2
75 travel_outside_state.2
76 work_outside_home.2
77 shop.2
78 restaurant.2
79 spent_time.2
80 large_event.2
81 public_transit.2
82 anxious.2
83 depressed.2
84 worried_finances.2
85 tested_positive.2
86 cli.3
87 ili.3
88 hh_cmnty_cli.3
89 nohh_cmnty_cli.3
90 wearing_mask.3
91 travel_outside_state.3
92 work_outside_home.3
93 shop.3
94 restaurant.3
95 spent_time.3
96 large_event.3
97 public_transit.3
98 anxious.3
99 depressed.3
100 worried_finances.3
101 tested_positive.3
102 cli.4
103 ili.4
104 hh_cmnty_cli.4
105 nohh_cmnty_cli.4
106 wearing_mask.4
107 travel_outside_state.4
108 work_outside_home.4
109 shop.4
110 restaurant.4
111 spent_time.4
112 large_event.4
113 public_transit.4
114 anxious.4
115 depressed.4
116 worried_finances.4
117 tested_positive.4

In [12]:
test

,id,AL,AK,AZ,AR,CA,CO,CT,FL,GA,...,travel_outside_state.4,work_outside_home.4,shop.4,restaurant.4,spent_time.4,large_event.4,public_transit.4,anxious.4,depressed.4,worried_finances.4
0,0,0,0,0,0,0,0,0,0,0,...,18.463415,32.470622,65.236954,31.730028,42.031183,18.188452,3.472105,12.452570,9.400024,30.550873
1,1,0,0,0,0,0,0,0,0,0,...,24.201702,31.499036,60.360030,28.319417,39.919723,16.614292,5.992332,11.747528,7.438606,35.364871
2,2,0,0,0,0,0,0,0,0,0,...,13.742657,28.696996,66.114428,31.211381,40.448538,16.998722,13.951631,12.898089,10.214711,37.028705
3,3,0,0,0,0,0,0,0,0,0,...,13.763442,27.907935,66.581525,29.112434,41.123571,13.949904,5.337427,14.944972,11.556292,32.146346
4,4,0,0,0,0,0,0,0,0,0,...,14.427636,37.623197,66.502657,29.716613,41.790256,18.855524,3.015219,15.225684,10.126752,39.163694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1073,1073,0,0,0,0,0,0,0,0,0,...,10.827652,33.040089,56.016759,23.452736,36.353395,14.897249,2.213512,16.455216,12.161099,38.874055
1074,1074,0,0,0,0,0,0,0,0,0,...,7.752599,31.649130,56.187953,27.997754,33.804429,17.195828,3.047023,15.649650,11.743437,43.981094
1075,1075,0,0,0,0,0,0,0,0,0,...,14.479596,35.356660,56.259350,28.478845,40.761905,19.391323,3.207936,13.646998,10.943757,32.564643
1076,1076,0,0,0,0,0,0,0,0,0,...,6.281439,31.679496,55.748700,28.047581,33.126379,16.473647,2.965817,15.799777,11.404368,43.862177
1077,1077,0,0,0,0,0,0,0,0,0,...,12.757346,34.954972,56.863464,26.763987,37.370719,18.537189,2.631941,14.146377,10.829453,33.477876

In [13]:
import torch
import torch.nn as nn

nn.Tanh()

SyntaxError: invalid syntax (3497932648.py, line 4)